#cabecalho{
    background: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}

#menu__lista{
    display: flex;
}

.menu__item{
    list-style: none;
}
.menu__item:last-child a{
    margin-right: 0;
}

.menu__link{
    color: #808080;
    margin: 0 1.25rem 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link.ativo{
    color: #333;
    font-weight: bold;
}

.menu__link:hover{
    text-decoration: underline;
}


@media screen and (min-width: 0){
    #cabecalho{
        justify-content: center;
        padding:2rem;
    }

    #cabecalho > img{
        display: none;
    }
}

@media screen and (min-width:768px){
    #cabecalho{
        padding: 0 5rem;
        justify-content: space-between;
    }

    #cabecalho > img{
        display: block;
    }
}