.receitass{
    background: #e5e5e5;
    display: flex;
    flex-flow: wrap;
    padding: 5rem 0 0 5rem;
}

.receita{
    background-color: #fdfdfd;
    display: flex;
    flex-flow: column;
    margin: 0 5rem 5rem 0;
    width: calc(25% - 5rem);
}