.rodape{
    background: #c4c4c4;
    color: #fff;
    font-family: "Roboto", serif;
    font-size: 1.2rem;
    padding: 1.728rem;
    text-align: end;
}

@media screen and (max-width: 600px){
    .rodape{
    font-size: 0.8rem;
    padding: 1.4rem;
    }
}

@media screen and (max-width: 992px){
    .rodape{
    font-size: 1rem;
    padding: 1.6rem;
    }
}